@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
	--accent: rgb(114, 137, 218);
	--accent2: #8ea1e1;
	--background: #36393f;
	--background2: #2f3136;
	--text-color: #dcddde;
	--text-color2: #72767d;
}

* {
	font-size: 15pt;
	font-family: "JetBrains Mono", monospace;
	background-color: var(--background);
	color: var(--text-color);
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main {
	width: 75%;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.main > input {
	background: var(--background2);
	color: var(--accent2);
	width: 80%;
	height: 2rem;
	padding: 0;
	padding-left: 0.25rem;
	border: none;
}
.default_button {
	margin-left: 1rem;
	color: var(--accent2);
	background: var(--background2);
	width: 10%;
	min-width: min-content;
	border: none;
}
.hide {
	display: none;
}
a {
	border-bottom: 0.1rem solid var(--accent2);
	color: rgb(114, 137, 218);
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	margin-bottom: 0.25rem;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	padding: 1rem;
}
footer > span {
	margin-right: 0.5rem;
}
.avatar {
	border-radius: 50%;
	border: 0.25rem solid var(--accent2);
}
.alert {
	color: red;
}
.invalid_token {
	text-decoration-color: red !important;
	text-decoration: underline;
	text-decoration-style: wavy;
}
button{
	cursor: pointer;
}
